.ant-form-item {
    margin-bottom: 20px;

    &.ant-form-item-has-error {
        .float-wrapper {
            border-color: #ff4d4f;
            .ant-input {
                border-color: transparent;
            }
        }
    }

    .ant-form-item-explain {
        font-size: 12px;
    }
}
