.ant-form-item {
    margin-bottom: 20px;
}
.ant-form-item .ant-form-item-explain {
    font-size: 12px;
}

.ant-form-item-with-help {
    &.ant-form-item-has-error {
        .ant-upload-wrapper {
            .ant-upload {
                .ant-upload {
                    .ant-btn {
                        border-color: #ff4d4f;
                    }
                }
            }
        }

        .float-wrapper {
            border: 1px solid #ff4d4f;

            &.float-input-password-strength {
                border: 0px;

                .ant-input-affix-wrapper {
                    border: 1px solid #ff4d4f;
                }
            }

            .ant-input {
                border: 0px;
            }
        }
    }
}
