// Import mixins (breakpoints, etc.)
@use "../../ui/index" as *;

#PageLogin {
    background-image: url("/images/login_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .ant-layout-content {
        .main-content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 70px);

            @include atMD {
                flex-direction: column;
                gap: 20px;
            }

            // .left-content {
            //     width: 50%;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;

            //     @include atXS {
            //         width: 100%;
            //     }

            //     .content-wrapper {
            //         display: flex;
            //         align-items: center;
            //         gap: 10px;
            //         color: #ffffff;

            //         @include atMD {
            //             flex-direction: column;
            //         }

            //         .title {
            //             text-align: center;

            //             .name {
            //                 font-size: 95px;
            //                 font-weight: 600;
            //                 line-height: 1;

            //                 @include atMD {
            //                     font-size: 25px;
            //                 }
            //             }

            //             .description {
            //                 font-size: 18px;
            //                 padding-left: 40px;

            //                 @include atMD {
            //                     font-size: 16px;
            //                     padding-left: 0px;
            //                 }
            //             }
            //         }
            //     }
            // }

            .content-content {
                display: flex;
                justify-content: center;
                width: 50%;

                @include atMD {
                    display: flex;
                    justify-content: center;
                }

                @include atXS {
                    width: 100%;
                }

                .logo-wrapper {
                    background: #0026a0;
                    align-content: center;
                    padding: 20px;
                }

                .ant-card {
                    display: flex;
                    align-items: center;
                    width: 400px;

                    @include atMax(575) {
                        width: 90%;
                    }

                    .ant-card-body {
                        margin: 20px 20px;
                        width: 100%;
                    }
                }
            }
        }

        .ant-layout-footer {
            background-color: transparent;
            text-align: center;

            .ant-typography {
                color: #fff;
                font-size: 12px;
            }
        }
    }
}
