@use "../index" as *;

.ant-collapse {
    border: 0px;
    background-color: transparent;

    .ant-collapse-item {
        border: 1px solid var(--border-color-base);
        border-radius: var(--border-radius-base) !important;
        overflow: hidden;
        background-color: var(--layout-background);

        &:last-child {
            border-bottom: 1px solid var(--border-color-base);
            border-radius: 0;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .ant-collapse-header {
            padding: 12px 20px;
            border-radius: 0 !important;
            background-color: var(--bs-gray-100);

            .ant-collapse-expand-icon {
                svg {
                    color: var(--main-primary);
                    font-size: 16px;
                }
            }
        }

        .ant-collapse-content {
            border-radius: 0px !important;

            .ant-collapse-content-box {
                padding: 20px;
            }
        }
    }

    &.custom-collapse {
        .ant-collapse-item {
            box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.1);

            .ant-collapse-header {
                background-color: var(--collapse-header);
                color: var(--collapse-header-text) !important;

                .ant-collapse-expand-icon {
                    svg {
                        color: var(--collapse-header-text) !important;
                    }
                }
            }
        }
    }
}
