.text-primary {
    color: var(--color-primary);
}
.bg-primary {
    background-color: var(--color-primary);
}
.text-primary-active {
    color: var(--color-primary-active);
}
.bg-primary-active {
    background-color: var(--color-primary-active);
}
.text-secondary {
    color: var(--color-secondary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.text-secondary-active {
    color: var(--color-secondary-active);
}
.bg-secondary-active {
    background-color: var(--color-secondary-active);
}

.text-success {
    color: var(--color-success);
}
.bg-success {
    background-color: var(--color-success);
}
.text-success-active {
    color: var(--color-success-active);
}
.bg-success-active {
    background-color: var(--color-success-active);
}
.text-warning {
    color: var(--color-warning);
}
.bg-warning {
    background-color: var(--color-warning);
}
.text-warning-active {
    color: var(--color-warning-active);
}
.bg-warning-active {
    background-color: var(--color-warning-active);
}
.text-danger {
    color: var(--color-danger);
}
.bg-danger {
    background-color: var(--color-danger);
}
.text-danger-active {
    color: var(--color-danger-active);
}
.bg-danger-active {
    background-color: var(--color-danger-active);
}
.text-info {
    color: var(--color-info);
}
.bg-info {
    background-color: var(--color-info);
}
.text-info-active {
    color: var(--color-info-active);
}
.bg-info-active {
    background-color: var(--color-info-active);
}
.text-indigo {
    color: var(--color-indigo);
}
.bg-indigo {
    background-color: var(--color-indigo);
}
.text-indigo-active {
    color: var(--color-indigo-active);
}
.bg-indigo-active {
    background-color: var(--color-indigo-active);
}
.text-purple {
    color: var(--color-purple);
}
.bg-purple {
    background-color: var(--color-purple);
}
.text-purple-active {
    color: var(--color-purple-active);
}
.bg-purple-active {
    background-color: var(--color-purple-active);
}
.text-pink {
    color: var(--color-pink);
}
.bg-pink {
    background-color: var(--color-pink);
}
.text-pink-active {
    color: var(--color-pink-active);
}
.bg-pink-active {
    background-color: var(--color-pink-active);
}
.text-teal {
    color: var(--color-teal);
}
.bg-teal {
    background-color: var(--color-teal);
}
.text-teal-active {
    color: var(--color-teal-active);
}
.bg-teal-active {
    background-color: var(--color-teal-active);
}
.text-dark {
    color: var(--color-dark);
}
.bg-dark {
    background-color: var(--color-dark);
}
.text-dark-active {
    color: var(--color-dark-active);
}
.bg-dark-active {
    background-color: var(--color-dark-active);
}
.text-orange {
    color: var(--color-orange);
}
.bg-orange {
    background-color: var(--color-orange);
}
.text-orange-active {
    color: var(--color-orange-active);
}
.bg-orange-active {
    background-color: var(--color-orange-active);
}

.main-text-primary {
    color: var(--main-primary);
}
.main-bg-primary {
    background-color: var(--main-primary);
}
.main-text-secondary {
    color: var(--main-secondary);
}
.main-bg-secondary {
    background-color: var(--main-secondary);
}
